<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519729075187-7mjcol0e39et1566georii3rhdvn5d1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519729075187-7mjcol0e39et1566georii3rhdvn5d1f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519729075187-nah0d2gplev3d9mg3ji8d5r9gedqlb2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBPyoRGb00qDv8WaX__yC5EIU-14gXhyE</string>
	<key>GCM_SENDER_ID</key>
	<string>519729075187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exampleOne</string>
	<key>PROJECT_ID</key>
	<string>chatmat-f036c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmat-f036c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519729075187:ios:0322be70f625df6fefb886</string>
	<key>DATABASE_URL</key>
	<string>https://chatmat-f036c.firebaseio.com</string>
</dict>
</plist>